/* 
  :root com variáveis de cor, para facilitar a manutenção
  e garantir consistência do design 
*/
:root {
  --background: #f5f4f0;
  --border: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Open Sans", sans-serif;
}

/* Container para centralizar conteúdo */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
}

/* Seções */
.section {
  margin-top: 64px;
}

/* Títulos */
h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--text-primary);
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: var(--text-primary);
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  color: var(--text-primary);
}

/* Classes de texto específicas */
.headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: var(--text-headline);
  text-transform: uppercase; /* Deixa o texto em maiúsculo */
  margin-top: 24px;
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic; /* Itálico */
  text-align: center;
  color: var(--text-secondary);
}

.paragraph {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400; /* Regular */
  color: var(--text-primary);
  margin-top: 16px;
}

.text-center {
  text-align: center;
}

/* Estilos para as imagens */
img {
  border-radius: 28px; /* Arredondamento das bordas */
  width: 100%;
  height: 375px;
  object-fit: cover; /* Evita distorções */
  margin-top: 44px;
  margin-bottom: 24px;
}

/* Linha divisória */
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: var(--border);
}

ul {
  list-style-position: inside; /* Faz a bolinha ficar dentro do box de texto */
  margin: 0;
  padding: 0;
}

/* Deixa todo o conteúdo da lista em bold */
ul li {
  font-weight: bold;
  margin-left: 0.5rem; /* recuo do texto */
}

/* Ajustando cor do marcador da lista (se quiser mantê-la diferente do texto) */
ul li::marker {
  color: var(--text-secondary);
}

/* Classes para colorir itens específicos */
.accent-blue {
  color: var(--accent-blue);
}

.accent-orange {
  color: var(--accent-orange);
}

.accent-pink {
  color: var(--accent-pink);
}

.accent-purple {
  color: var(--accent-purple);
}
